body {
  background-color: #bdbfc6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  width: 60%;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

ul {
  list-style: none;
}

.listBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.MovieListBox {
  flex-direction: column;
}

.TVListBox {
  flex-direction: column;
}

li {
  color: white;
  padding: 2px 0px 2px 20px;
  border-radius: 20px;
  margin: 0px 25px 5px 0px;
}

li.movie-list {
  background-color: maroon;
}
li.tv-list {
  background-color: rgb(27, 61, 162);
}

form > div > input {
  margin: 1px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}